*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
/* generic */
body{
    font-family: sans-serif;
}
/* utility */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
/******* CAROUSEL ********/
